doctype html
//
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
	head
		title Perkumpulan Orang Santai
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="author" content="KatowProject")
		meta(name="description" content="Landing Page Perkumpulan Orang Santai")
		meta(property="og:image" content="https://cdn.discordapp.com/splashes/336336077755252738/2ad0fa7a5296e42ab336b4a12a078831.png?size=4096")
		link(rel="icon" href="./images/logoV4.png")
		link(rel="stylesheet" href="./css/main.css")
		script(src="https://kit.fontawesome.com/0c2f9fb540.js" crossorigin="anonymous")
		noscript
			link(rel="stylesheet" href="./css/noscript.css")
	body(class="is-preload")
		// Wrapper
		#wrapper
			// Header
			header#header
				div(class="logo")
					span
						img(class="owo" width="85" height="85" src="./images/logo.png")
				div(class="content")
					div(class="inner")
						h1 Perkumpulan Orang Santai
				nav
					ul
						li
							a(href="#intro") Intro
						li
							a(href="#work") Staff
						li
							a(href="#about") About
						li
							a(href="#contact") Platform
						// <li><a href="#elements">Elements</a></li>
			// Main
			#main
				// Intro
				article#intro
					h2(class="major") Intro
					span(class="image main")
						img(src="./images/pos.png" alt="")
					p
						| Perkumpulan Orang Santai adalah Komunitas hiburan yang tersedia diberbagai platform, yaitu Facebook,
						| Instagram, dan Discord.
					p
						| Platform Facebook terdiri 2 Grup dan 1 Fanpage. Grupnya yaitu
						a(href="https://facebook.com/groups/republicsans" target="_blank") Perkumpulan Orang Santai
						|  dan
						a(href="https://facebook.com/groups/possans") Perkumpulan Orang Santai Total
						| . Fanspage bernama
						a(href="https://facebook.com/pos.total" target="_blank") Perkumpulan Orang Santai
						|  yang disukai
						| 					oleh 100rb Orang.
						| 					Platform 
						a(href="https://instagram.com/pos.total" target="_blank") Instagram
						|  telah diikuti oleh
						| 					9rb pengguna dan
						a(href="https://discord.gg/santai" target="_blank") Discord
						|  telah memiliki 5rb Member.
				// Work
				article#work
					h2(class="major") Staff
					div(class="staff")
						h1 Owner
						h3
							a(href="https://facebook.com/ijul.img" target="_blank") Muhammad Zulfikar
						br
						h3
							a(href="#discord" class="icon brands fa-discord")  Staff Discord
						h3
							a(href="#facebook" class="icon brands fa-facebook-f")  Staff Facebook
						h3
							a(href="#instagram" class="icon brands fa-instagram")  Staff Instagram
				// About
				article#about
					h2(class="major") About
					span(class="image main")
						img(src="./images/ikhsantai.png" alt="")
					// 1
					h3 Apa itu POS?
					ul
						| POS yang kepanjangannya Perkumpulan Orang Santai adalah Komunitas hiburan yang berbasis Santai
						| seperti melihat Senja , Senin? Santai.
					// 2
					h3 Siapa yang membuat Komunitas?
					ul
						b Founder
						|  : Mehmet Ali , Wahyu Purnomo , Miftahul Fikri
						br
						b Co-Founder
						|  : seluruh mantan staff discord sz
					// 3
					h3 Siapa yang membuat logo POS?
					ul
						| Rayhan Aswi (Cawfein) yang membuat logo POS hingga sekarang
					// 4
					h3 Bagaimana POS bisa terbentuk?
					ul
						p
							| Pada bulan September 2018 Ijul diturunkan jabatannya oleh Genta dengan alasan tertentu. walapun
							| begitu, Ijul masih menjadi staff SZ dibagian Discord sekaligus Owner juga.
						p
							| Hari demi hari pada awal Bulan Oktober Discord SZ tidak dianggap lagi oleh Staff Grup S/Z disana
							| karena sudah resmi bahwa Ijul dan Staff Discord SZ tidak menjadi bagian Staff SZ lagi, dan
							| Server
							| Discord itu menjadi tidak memiliki Nama.
						p
							| Di sinilah pada tanggal 9-10 Oktober Staff Discord SZ mendiskusikan mencari nama untuk Server
							| Discordnya, dan Server Resmi Menjadi Persatuan Orang Santai (sekarang Perkumpulan Orang Santai).
						p
							| Pada saat itu POS aktif di Sosial Media Instagram dan POS membuat Komunitasnya di Facebook
							| berupa Fanspage dan Grup.
					h3 Kapan POS dibuat?
					ul
						| POS Discord dibuat pada awal Bulan Oktober 2018 sedangkan POS Facebook dibuat pada pertengahan
						| November 2018.
					h3 Kenapa harus POS?
					ul
						| Pada awalnya Komunitas ini terbuat dari sebuah postingan M Ikhsan yang mengatakan Senin? Santai....
						| di sinilah para staff discord SZ terinspirasi dan terbuat dengan nama Persatuan Orang Santai (dulu)
						| dan mengalami perubahan nama Menjadi Perkumpulan Orang Santai (hingga sekarang).
				// Contact
				article#contact
					h2(class="major") Platform
					ul(class="icons")
						li
							a(href="https://discord.gg/santai" target="_blank" class="icon brands fa-discord")
								span(class="label") Discord
						li
							a(href="https://facebook.com/pos.total" target="_blank" class="icon brands fa-facebook-f")
								span(class="label") Facebook
						li
							a(href="https://instagram.com/pos.total" target="_blank" class="icon brands fa-instagram")
								span(class="label") Instagram
						li
							a(href="https://facebook.com/groups/possans" target="_blank" class="fas fa-users")
								span(class="label")
						li
							a(href="https://tokopedia.com/posantai" target="_blank" class="fas fa-store")
								span(class="label")
				article#discord
					h2(class="major")
						a(class="icon brands fa-discord")
						|  Discord
					h3 Head Admin
					ul
						li
							| Timothy | 
							b Sky.#9188
					// Admin
					h3 Admin
					script.
						var admin = [
						"Muhammad Naufal Faqih | <b>ManLord#3143</b>",
						"Auzan | <b>Autan#3622</b>",
						"Zaidan | <b>Mew Mornal#5284</b>",
						"Arans Aldhira | <b>Shirayuuki#2307</b>"
						];
						document.writeln("<ul>");
						admin.forEach((data) => {
						document.write(`<li>${data}</li>`);
						});
						document.write("</ul>");
					// Moderator
					h3 Moderator
					script.
						var moderator = [
						"Rio Bening | <b>riora1996#0511</b>",
						"Kao | <b>Kao#9870</b>",
						"Mar | <b>Martole#9911</b>",
						"David | <b>davidvtan#4024</b>",
						"Iqbal | <b>depressedsmile#2907</b>",
						"Musa | <b>Avex#7282</b>",
						"Rayhan Aswi | <b>Cawfein#1938</b>"
						];
						document.writeln("<ul>");
						moderator.forEach(a => {
						document.write(`<li>${a}</li>`);
						});
						document.write("</ul>");
					// Bot Manager
					h3 Bot Manager
					ul
						li
							| Ray | 
							b ray#1337
				article#facebook
					h2(class="major")
						a(class="icon brands fa-facebook-f")
						|  Facebook
					// Head Admin
					h3 Head Admin
					ul
						li
							a(href="https://facebook.com/katoww" target="_blank") Muhammad Naufal Faqih
					// Admin
					h3 Admin
					script.
						var adminF = [
						'<a href="https://facebook.com/kamalajip/" target="_blank"> Aji Kamaludin P</a>',
						'<a href="https://facebook.com/DarrelVahry/" target="_blank"> Darrel M Vahry</a>',
						'<a href="https://facebook.com/Rezawarudo/" target="_blank"> Reza Adjie Pamungkas</a>',
						];
						document.writeln("<ul>");
						adminF.forEach(a => {
						document.write(`<li>${a}</li>`);
						});
						document.write("</ul>");
					h3 Moderator
					script.
						var moderatorF = [
						'<a href="https://facebook.com/radhit.putra08/" target="_blank"> Radhit Putra</a>',
						'<a href="https://facebook.com/agung.soeltani69/" target="_blank"> Agung Soeltani</a>',
						'<a href="https://facebook.com/whatanooby/" target="_blank"> Nyzar Novikov</a>',
						'<a href="https://facebook.com/fikrioka.10/" target="_blank"> Fikri Oka</a>',
						'<a href="https://facebook.com/Gerilhamanullah/" target="_blank"> Angger Ilham</a>',
						'<a href="https://facebook.com/Horutensia/" target="_blank"> Hortensia</a>',
						'<a href="https://facebook.com/profile.php?id=100008333419194" target="_blank"> Narendra Wibowo</a>',
						'<a href="https://facebook.com/passix123/" target="_blank"> Daniel</a>',
						'<a href="https://web.facebook.com/widi.afandi.1" target="_blank"> Widi Afandi</a>',
						'<a href="https://facebook.com/profile.php?id=100003284440160" target="_blank"> Ade Ajie Pamungkas</a>',
						'<a href="https://facebook.com/profile.php?id=1413825945" target="_blank"> Ferrysqo Irawan</a>'
						];
						document.writeln("<ul>");
						moderatorF.forEach(a => {
						document.write(`<li>${a}</li>`);
						});
						document.write("</ul>");
				article#instagram
					h2(class="major")
						a(class="icon brands fa-instagram")
						| Staff Instagram
					h3 Admin
					ul
						li
							a(href="https://web.facebook.com/ijul.img" target="_blank") Muhammad Zulfikar
						li
							a(href="https://web.facebook.com/profile.php?id=100050106373939" target="_blank")
								| Aga Putra Doval
			// Global site tag (gtag.js) - Google Analytics
			script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-154875572-1")
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());
				gtag('config', 'UA-154875572-1');
			// Footer
			footer#footer
				center(class="copyright")
					| Contact:
					a(href="mailto:possans@gmail.com")
						b possans@gmail.com
				br
				br
				p(class="copyright")
					| © 2020 Perkumpulan Orang Santai. Design: 
					a(href="https://html5up.net") HTML5UP
					| .
		// staff
		script(type="text/javascript" src="./js/staff.js")
		// BG
		#bg
		// Scripts
		script(src="./js/jquery.min.js")
		script(src="./js/browser.min.js")
		script(src="./js/breakpoints.min.js")
		script(src="./js/util.js")
		script(src="./js/main.js")
